body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: jersey25-font;
  src: url(./assets/fonts/Jersey25-Regular.ttf);
}

@font-face {
  font-family: catboo-font;
  src: url(./assets/fonts/Catboo.ttf);
}

